[*.{cs,vb}]

# IDE0017: 简化对象初始化
dotnet_diagnostic.IDE0017.severity = none

# IDE0018: 内联变量声明
dotnet_diagnostic.IDE0018.severity = none

# IDE0059: 不需要赋值
dotnet_diagnostic.IDE0059.severity = none

# IDE0044: 添加只读修饰符
dotnet_diagnostic.IDE0044.severity = none

# IDE0052: 删除未读的私有成员
dotnet_diagnostic.IDE0052.severity = none

# CS0618: 类型或成员已过时
dotnet_diagnostic.CS0618.severity = none

# CS0114: 成员隐藏继承的成员；缺少关键字 override
dotnet_diagnostic.CS0114.severity = none

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = none

# CS0108: 成员隐藏继承的成员；缺少关键字 new
dotnet_diagnostic.CS0108.severity = none

# CS0109: 成员不会隐藏继承的成员；不需要关键字 new
dotnet_diagnostic.CS0109.severity = none

# CS0649: Field 'SwitchControl.checkStyle' is never assigned to, and will always have its default value
dotnet_diagnostic.CS0649.severity = none
